<ng-template [ngIf]="data" [ngIfElse]="add">
    <div mat-dialog-content>
        <form class="form">
            <span class="title">Detalhes</span>
            <mat-form-field appearance="legacy">
                <input matInput placeholder="Data" value="{{data.date}}" #input>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <input matInput placeholder="Sala" value="{{data.room.number}}" #input>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <input matInput placeholder="Descrição" value="{{data.description}}" #input>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <input matInput placeholder="Conteúdo" value="{{data.content.name}}" #input>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <input matInput placeholder="Avaliação" value="{{data.evaluation.nome}}" #input>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <input matInput placeholder="Turma" value="{{data.team[0].numero}}" #input>
            </mat-form-field>
            <div class="buttons">
                <button mat-stroked-button color="primary">Cancelar</button>
                <button mat-raised-button color="primary" class="second-button">Salvar</button>
            </div>
        </form>
    </div>
</ng-template>
   
<ng-template #add>
    <div mat-dialog-content>
        <form class="form">
            <span class="title">Detalhes</span>
            <mat-form-field appearance="legacy">
                <input matInput placeholder="Data" #input>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <input matInput placeholder="Sala" #input>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <input matInput placeholder="Descrição" #input>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <input matInput placeholder="Conteúdo" #input>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <input matInput placeholder="Avaliação" #input>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <input matInput placeholder="Turma" #input>
            </mat-form-field>
            <div class="buttons">
                <button mat-stroked-button color="primary">Cancelar</button>
                <button mat-raised-button color="primary" class="second-button">Salvar</button>
            </div>
        </form>
    </div>
</ng-template>



