<div class="container">
    <mat-toolbar class="header">
        <span>Detalhes da Aula</span>
    </mat-toolbar>

    <form class="form">
        <!-- (keyup)="applyFilter($event)" -->
        <span class="title">Detalhes</span>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="Data" #input>
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="Turma" #input>
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="Sala" #input>
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="Avaliação" #input>
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="Conteúdo" #input>
        </mat-form-field>
        <div class="buttons">
            <button mat-stroked-button color="primary">Cancelar</button>
            <button mat-raised-button color="primary" class="second-button">Salvar</button>
        </div>
    </form>
</div>